nvim/.config/nvim/plugin
scripts/scripts/patch-spotify.sh
xmonad/.config/xmonad/lib/Custom/MyMacAddresses.hs
nvim/.config/nvim/lazy-lock.json
spicetify/.config/spicetify/Backup
spicetify/.config/spicetify/Extracted
lazygit/.config/lazygit/state.yml
