* {
  all: unset;
}

$base: #050508;
$mantle: #181825;
$crust: #11111b;
$text: #cdd6f4;
$subtext0: #a6adc8;
$subtext1: #bac2de;
$surface0: #313244;
$surface1: #45475a;
$surface2: #585b70;
$overlay0: #6c7086;
$overlay1: #7f849c;
$overlay2: #9399b2;
$blue: #89b4fa;
$lavender: #b4befe;
$sapphire: #74c7ec;
$sky: #89dceb;
$teal: #94e2d5;
$green: #a6e3a1;
$yellow: #f9e2af;
$peach: #fab387;
$maroon: #eba0ac;
$red: #f38ba8;
$mauve: #cba6f7;
$pink: #f5c2e7;
$flamingo: #f2cdcd;
$rosewater: #f5e0dc;
$transparent: #ff0000;

.cal-inner-container,
.cal-outer-container {
  font-family: CascaydiaCode Nerd Font;
  font-size: 1em;
  color: $text;
  background-color: $base;
  border-radius: 0.5em;
  padding: 0.4em;
}

.cal-inner-elems {
  padding: 0.4em;
}

.cal-outer-elems {
  padding: 1em;
}

.cal-date {
  font-weight: bold;
  font-size: 1em;
  color: $base;
  background-color: $mauve;
  border-radius: 0.5em;
  padding: 0.1em;
  margin: 1em;
}

calendar.button {
  color: $rosewater;
  font-weight: bold;
}

calendar.header,
calendar.highlight,
calendar:selected {
  color: $mauve;
  font-weight: bold;
}

calendar:indeterminate {
  color: $surface1;
}

.profile-container {
  background-color: $base;
  border-radius: 8px;
  padding: 1em;
}

.profile-pic {
  background-repeat: no-repeat;
  background-size: 250px;
  min-height: 250px;
  min-width: 250px;
  border-radius: 2em;
}

.quote {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: $green;
}

.spotify-container {
  background-color: $base;
  padding: 1em;
}

.spotify-img {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 240px;
  min-width: 280px;
  border-radius: 0.3em;
  margin-left: 1.2em;
}

.spotify-inner-right-container {
  padding: 1em;
}

.spotify-inner-right-container * {
  margin: 0.2em;
}

.spotify-title {
  font-family: Sugar Snow;
  font-size: 1.2em;
  font-weight: bold;
  color: $blue;
}

.spotify-singer {
  font-size: 1.1em;
  color: $sapphire;
}

.spotify-album {
  font-size: 1em;
  color: $sky;
  font-style: italic;
  margin-bottom: 1em;
}

.spotify-controls button {
  font-family: CaskaydiaCove Nerd Font;
  font-weight: bold;
  font-size: 1.2em;
  color: $surface2;
}

.spotify-controls button:hover {
  color: $green;
  transition: ease 0.7s;
}

.powermenu-container,
.powertoggler {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 1em;
  font-weight: bold;
  color: $red;
  background-color: $base;
}

.powermenu-container > * {
  padding: 0.5em;
}

.powermenu-container > *:hover {
  color: $base;
  background-color: $red;
  border-radius: 0.3em;
  transition: ease 0.7s;
}

.powertoggler :hover {
  color: $base;
  background-color: $red;
  border-radius: 0.3em;
  transition: ease 0.7s;
}

.timedisplay {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 1em;
  font-weight: bold;
  color: $mauve;
  background-color: $base;
}

.timedisplay :hover {
  color: $base;
  background-color: $mauve;
  border-radius: 0.3em;
  transition: ease 0.7s;
}

.xmonad-layout-container {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 1em;
  font-weight: bold;
  color: $flamingo;
  background-color: $base;
  padding: 0.3em;
}

.wmclass-container {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 1em;
  font-weight: bold;
  color: $lavender;
  background-color: $base;
  padding: 0.3em;
}
