* {
    bg-col:  #16161d;
    bg-col-light: #16161d;
    border-col: #16161d;
    selected-col: #16161d;
    randomcolor: #ff5d62;
    fg-col: #dcd7ba;
    fg-col2: #ff5d62;
    subtext: #c8c093;
    width: 900;
}
